---
openapi: 3.0.1
info:
  title: Payroll API
  description: A full flagged payroll api provided by Teal
  version: 1.0.0
servers:
  - url: https://api.sandbox.goteal.co
    description: Sandbox server for experiments
  - url: https://api.goteal.co
    description: Production server
security:
  - ApiKeyAuth: []
  - MemberBearerAuth: []
paths:
  "/users":
    description: A User represents the borrowers and end-users that
      give consented access and/or upload their payslips to our API.
    post:
      summary: Creates a user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/User"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreatedUser"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
        "409":
          "$ref": "#/components/responses/ConflictedResource"

    get:
      summary: List all users.
      parameters:
        - name: orederd_by
          in: query
          description: The field of the user to order by
          required: false
          schema:
            type: string
            enum: [name, email, created_at]
            default: created_at
            example: name
        - name: offset
          in: query
          description: The offset to start at
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 0
        - name: limit
          in: query
          description: The number of items to return
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    "$ref": "#/components/schemas/PaginationWithOrderedBy"
                  users:
                    type: array
                    items:
                      "$ref": "#/components/schemas/CreatedUser"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
  "/users/{user_id}":
    description: A User represents the borrowers and end-users that give
      consented access and/or upload their payslips to our API.
    get:
      summary: Creates a user.
      parameters:
        - in: path
          name: user_id
          schema:
            type: string
          required: true
          description: ID of the user to delete.
      responses:
        "200":
          description: REturns the user details
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreatedUser"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
    put:
      description: Update a user and its config. If a field is sent as null then it is considered an unset or removal.
      summary: Updates a user.
      parameters:
        - in: path
          name: user_id
          schema:
            type: string
          required: true
          description: ID of the user to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/User"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreatedUser"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
        "404":
          "$ref": "#/components/responses/ResourceNotFound"
    delete:
      summary: Deletes a user along with all the files, accounts, entries and payroll submission associated with it.
      parameters:
        - in: path
          name: user_id
          schema:
            type: string
          required: true
          description: ID of the user to delete.
      responses:
        "204":
          description: No Content
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User deleted successfully.
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
        "404":
          "$ref": "#/components/responses/ResourceNotFound"
  "/users/recurring":
    description: List users that are either eligible or ineliegible for recurring paroll checks
    get:
      parameters:
        - name: recurring_enabled
          in: query
          description: Filter on users that are eligible for recurring checks, and those that are not
          required: false
          schema:
            type: boolean
            default: true
        - name: offset
          in: query
          description: The offset to start at
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 0
        - name: limit
          in: query
          description: The number of items to return
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 500
            default: 100
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    "$ref": "#/components/schemas/PaginationWithOrderedBy"
                  users:
                    type: array
                    items:
                      "$ref": "#/components/schemas/CreatedUser"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
  "/user-tokens":
    post:
      summary: Generate a link token for authentication in subsequent steps to a unique user ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                user_id:
                  type: string
                  description: The id of the user
                  example: 95a0e70b-fe02-4f47-aef9-2efff279df71
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UserToken"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
  "/accounts":
    description:
      Account are the payroll and HR platform accesses that users link to Teal,
      providing a stream of income and employment data
    post:
      summary: Creates an account for the user e.g. a Xero account
      parameters:
        - "$ref": "#/components/parameters/XConsentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required: ["user_id"]
                  properties:
                    user_id:
                      type: string
                      description: The id of the user
                      example: 95a0e70b-fe02-4f47-aef9-2efff279df71
                - "$ref": "#/components/schemas/Accounts"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - "$ref": "#/components/schemas/AccountsResult"
                  - type: object
                    properties:
                      authorization_url:
                        type: string
                        description: Authrorization url for provider using OAUTH2
                        example: https://provider/authenticate?redirect_url=https://api.teal.com/auth&state=state&scope=read
                  - type: object
                    properties:
                      mfa_method:
                         "$ref": "#/components/schemas/MfaMethod"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
    get:
      summary: Returns all accounts for the user (e.g. Xero accounts)
      parameters:
        - in: query
          name: user_id
          schema:
            type: string
          required: true
          description: ID of the user to get accounts for
        - name: offset
          in: query
          description: The offset to start at
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 0
        - name: limit
          in: query
          description: The number of items to return
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 1000
            default: 500
      responses:
        "200":
          description: Successfully retrieved accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    "$ref": "#/components/schemas/Pagination"
                  accounts:
                    type: array
                    items:
                      "$ref": "#/components/schemas/AccountsResult"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
  "/accounts/recurring":
    description:
      Return accounts that are applicable for recurring checks for a given user
    get:
      summary: Returns all recurring accounts for the user
      parameters:
        - in: query
          name: user_id
          schema:
            type: string
          required: true
          description: ID of the user to get accounts for
        - name: offset
          in: query
          description: The offset to start at
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 0
        - name: limit
          in: query
          description: The number of items to return
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 1000
            default: 500
      responses:
        "200":
          description: Successfully retrieved accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    "$ref": "#/components/schemas/Pagination"
                  accounts:
                    type: array
                    items:
                      "$ref": "#/components/schemas/RecurringAccountsResult"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"

  "/accounts/{account_id}":
    description:
      Account are the payroll and HR platform accesses that users link to Teal,
      providing a stream of income and employment data
    delete:
      summary: Deletes an account for the user (e.g. a Xero account)
      parameters:
        - in: path
          name: account_id
          schema:
            type: string
          required: true
          description: ID of the account to delete
      responses:
        "204":
          description: No Content
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Account deleted successfully.
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
        "404":
          "$ref": "#/components/responses/ResourceNotFound"
    get:
      summary: Retrieve an account with an account ID
      parameters:
        - in: path
          name: account_id
          schema:
            type: string
          required: true
          description: ID of the account to retrieve
      responses:
        "200":
          description: Succesfully retrieved account
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AccountsResult"
        "404":
          "$ref": "#/components/responses/ResourceNotFound"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"

  "/accounts/{account_id}/mfa":
    description: Submit an MFA response to complete account authentication after an MFA challenge is returned during account creation.
    put:
      summary: Submit an MFA response for an account
      parameters:
        - in: path
          name: account_id
          schema:
            type: string
          required: true
          description: ID of the account requiring MFA
        - "$ref": "#/components/parameters/XConsentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [value]
              properties:
                value:
                  type: string
                  description: The MFA response value (code, date, or password characters depending on the MFA method)
                  example: "123456"
      responses:
        "200":
          description: MFA response accepted
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AccountsResult"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/UnauthorizedBearer"
        "404":
          "$ref": "#/components/responses/ResourceNotFound"
  "/payroll/entries":
    get:
      summary: Returns all entries for a user account sorted desc by created_at
      parameters:
        - in: query
          name: user_id
          schema:
            type: string
          required: true
          description: ID of the user to get entries for
        - name: account_id
          in: query
          description: The offset to start at
          required: false
          schema:
            type: string
            format: uuid
        - name: offset
          in: query
          description: The offset to start at
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 0
        - name: limit
          in: query
          description: The number of items to return
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    "$ref": "#/components/schemas/Pagination"
                  entries:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Entry"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
  "/payroll/entries/{entry_id}":
    delete:
      summary: Deletes an entry for the user
      parameters:
        - in: path
          name: entry_id
          schema:
            type: string
          required: true
          description: ID of the entry to delete
      responses:
        "204":
          description: No Content
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Entry deleted successfully.
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
        "404":
          "$ref": "#/components/responses/ResourceNotFound"
  "/payroll/entries/connections":
    description:
      For an account, a call to the `/payroll/entries/connections` endpoint will query the
      connection for data. This endpoint is for adhoc data retrieval for an account;
      Teal will also collect the payroll data for users via the WebUI as soon
      as a valid connection is established. This endpoint can be applied to any
      account, it does not matter if it was established via your own call to
      `POST /accounts` or via the Teal WebUI. Note that any new data retrieved via
      `/payroll/entries/connections` is persisted on Teal's storage and can be retrieved using
      the `/payroll/{user_id}` endpoint.
    post:
      summary: Connects a user account to a payroll provider
      parameters:
        - "$ref": "#/components/parameters/XConsentId"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [account_id]
              properties:
                account_id:
                  type: string
                  format: uuid
                  description: The account id to use to connect to the payroll provider
                  example: 95a0e70b-fe02-4f47-aef9-2efff279df71
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PayrollData"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/UnauthorizedBearer"
  "/payroll/entries/payslips/presign":
    post:
      summary: Generate presigned URLs for payslip uploads
      parameters:
        - "$ref": "#/components/parameters/XConsentId"
      description: |
        Generates short-lived presigned URLs that you can use to upload payslip PDFs
        directly to Teal-managed storage. Use this endpoint before uploading any
        files and submitting them for processing.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/EntriesPayslipsPresignRequest"
      responses:
        "200":
          description: Presigned URLs generated successfully
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/EntriesPayslipsPresignResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/UnauthorizedBearer"
  "/payroll/entries/payslips":
    post:
      summary: Submit previously uploaded payslips for processing
      parameters:
        - "$ref": "#/components/parameters/XConsentId"
      description: |
        Uploading payslips is a three-step flow:
          1. Request upload slots with `POST /payroll/entries/payslips/presign`, providing
             each PDF file name (and optional external identifier). The response
             includes `presigned_url` and `path` values for every requested file.
          2. Upload the PDF content to every `presigned_url` using an HTTP `PUT`
             request with `Content-Type: application/octet-stream`. Each file must be a
             searchable, machine-readable PDF (scanned images are not supported).
          3. Call this endpoint with the JSON payload returned in step one,
             echoing the `path` (and optional `external_document_id`) for every
             uploaded file so Teal can process the documents.
        The `path` values you submit must match the ones returned by the presign
        step. Any files that failed validation or upload are reported in the
        `payslip_errors` array.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/EntriesPayslipsJsonRequestFileRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - "$ref": "#/components/schemas/PayrollData"
                  - properties:
                      payslip_errors:
                        description: List of errors for payslips that passed validation but failed to upload
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: string
                            file_name:
                              type: string
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/UnauthorizedBearer"
  "/payroll/{user_id}":
    get:
      summary: Returns all plants from the system that the user has access to
      parameters:
        - in: path
          name: user_id
          schema:
            type: string
          required: true
          description: ID of the user to get payroll for
        - name: orederd_by
          in: query
          description: The field of the user to order by
          required: false
          schema:
            type: string
            enum: [account_id, entry_id, created_at]
            default: created_at
            example: name
        - name: offset
          in: query
          description: The offset to start at
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 0
        - name: limit
          in: query
          description: The number of items to return
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 20
        - name: account_id
          in: query
          description: The account_id to fileter on
          required: false
          schema:
            type: string
            format: uuid
        - name: entry_id
          in: query
          description: The account_id to fileter on
          required: false
          schema:
            type: string
            format: uuid
        - name: document_external_id
          in: query
          description: The document_external_id to fileter on
          required: false
          schema:
            type: string
        - name: created_after
          in: query
          description: Filter out payroll dated before the given date
          required: false
          schema:
            type: string
            format: date-time
            example: 2019-05-17T00:00:00.000Z
        - name: created_before
          in: query
          description: Filter out payroll dated after the given date
          required: false
          schema:
            type: string
            format: date-time
            example: 2019-05-17T00:00:00.000Z
      responses:
        "200":
          description: Plant response
          content:
            application/json:
              schema:
                type: object
                required: [pagination, payroll_submissions]
                properties:
                  pagination:
                    "$ref": "#/components/schemas/Pagination"
                  payroll_submissions:
                    type: array
                    items:
                      "$ref": "#/components/schemas/PayrollSubmission"
        "400":
          description: Unexpected error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
  "/documents/{document_id}":
    get:
      summary: Returns all documents for a user entry
      parameters:
        - in: path
          name: document_id
          schema:
            type: string
          required: true
          description: The id of the file
      responses:
        "200":
          description: Document response
          content:
            application/json:
              schema:
                allOf:
                  - "$ref": "#/components/schemas/DocumentResponse"
                  - properties:
                      file_contents:
                        type: string
                        description: Base-64 encoded string containing file contents
                        example: "JVBERi0xLjQKJdPr6eEKMSAwIG9iago8PC9UaXRsZSAoS..."
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
    delete:
      summary: Deletes a document by id
      parameters:
        - in: path
          name: document_id
          schema:
            type: string
          required: true
          description: The id of the file
      responses:
        "204":
          description: No content
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Document [14a542ed-f060-42cc-9b13-dea206cd9837] deleted
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
        "404":
          "$ref": "#/components/responses/ResourceNotFound"
  "/documents":
    get:
      summary: List all documents for a user.
      parameters:
        - in: query
          name: user_id
          schema:
            type: string
          required: true
          description: ID of the user to get documents for
        - name: offset
          in: query
          description: The offset to start at
          required: false
          schema:
            type: integer
            format: int32
            minimum: 0
            default: 0
        - name: limit
          in: query
          description: The number of items to return
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 50
      responses:
        "200":
          description: Document response
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    "$ref": "#/components/schemas/Pagination"
                  documents:
                    type: array
                    items:
                      allOf:
                        - "$ref": "#/components/schemas/DocumentResponse"
                        - properties:
                            file_contents:
                              type: string
                              description: Location to download the document
                              example: "/documents/a9249254-ab10-4a2d-b709-eda95f5ecd59"
        "400":
          description: Unexpected error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
  "/webhooks":
    post:
      summary: Creates a webhook.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/Webhook"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreatedWebhook"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
    get:
      summary: Lists all the webhooks
      parameters:
        - name: orederd_by
          in: query
          description: The field of the user to order by
          required: false
          schema:
            type: string
            enum: [name, url, created_at]
            default: created_at
            example: name
        - name: offset
          in: query
          description: The offset to start at
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 0
        - name: limit
          in: query
          description: The number of items to return
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    "$ref": "#/components/schemas/Pagination"
                  webhooks:
                    type: array
                    items:
                      "$ref": "#/components/schemas/CreatedWebhook"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
  "/webhooks/{webhook_id}":
    get:
      summary: Returns a webhook.
      parameters:
        - in: path
          name: webhook_id
          schema:
            type: string
          required: true
          description: ID of the webhook to get
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreatedWebhook"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
    delete:
      summary: Deletes a webhook.
      parameters:
        - in: path
          name: webhook_id
          schema:
            type: string
          required: true
          description: ID of the webhook to delete
      responses:
        "204":
          description: No Content
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Webhook deleted successfully.
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
        "404":
          "$ref": "#/components/responses/ResourceNotFound"
  "/members":
    post:
      summary: Invites a member to be part of the team. The member will need to create their account if they don't exist.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/InviteMemberRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Member"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
    get:
      summary: Lists all the team members including the Owner
      parameters:
        - name: offset
          in: query
          description: The offset to start at
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 0
        - name: limit
          in: query
          description: The number of items to return
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    "$ref": "#/components/schemas/Pagination"
                  members:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Member"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
  "/members/signin":
    post:
      summary: Sign in a member
      security: []  # This declares that no authorization is required for this endpoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MemberSignInRequest"
      responses:
        "200":
          description: Successful signin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemberSignInResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
  "/members/{member_id}":
    get:
      summary: Returns a Member.
      parameters:
        - in: path
          name: member_id
          schema:
            type: string
          required: true
          description: ID of the Member to get
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Member"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
    delete:
      summary: Deletes a Member.
      parameters:
        - in: path
          name: member_id
          schema:
            type: string
          required: true
          description: ID of the member to delete
      responses:
        "204":
          description: No Content
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Member deleted successfully.
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
        "404":
          "$ref": "#/components/responses/ResourceNotFound"
  "/api-keys":
    description: API keys provide programmatic access to the API. You can have up to 3 active API keys at any time.
    get:
      summary: List all active API keys.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_keys:
                    type: array
                    items:
                      "$ref": "#/components/schemas/ApiKey"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
    post:
      summary: Create a new API key.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ApiKeyCreateRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApiKeyWithSecret"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
        "403":
          description: Forbidden - Maximum number of API keys (3) reached
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/api-keys/{api_key_id}":
    description: Manage individual API keys.
    delete:
      summary: Revoke an API key.
      parameters:
        - in: path
          name: api_key_id
          schema:
            type: string
            format: uuid
          required: true
          description: ID of the API key to revoke
      responses:
        "204":
          description: No Content - API key successfully revoked
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
        "404":
          "$ref": "#/components/responses/ResourceNotFound"
  "/configuration":
    get:
      summary: Returns the client configuration
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ClientConfiguration"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
        "404":
          "$ref": "#/components/responses/ResourceNotFound"
    put:
      summary: Updates the client configuration
      description: Partial updates supported; omitted fields preserve their existing values.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ClientConfiguration"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ClientConfiguration"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
  "/consents/terms":
    description: Consent terms define the legal text and versions that users can accept. Lenders can create and manage consent terms.
    post:
      summary: Creates a new consent term.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ConsentTerm"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreatedConsentTerm"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
        "409":
          "$ref": "#/components/responses/ConflictedResource"
    get:
      summary: List all consent terms.
      parameters:
        - name: consent_category
          in: query
          description: Filter by consent category
          required: false
          schema:
            "$ref": "#/components/schemas/ConsentCategory"
        - name: is_active
          in: query
          description: Filter by active status
          required: false
          schema:
            type: boolean
        - name: is_system_term
          in: query
          description: Filter by system term status. True returns only Teal's default terms, false returns only client-created terms.
          required: false
          schema:
            type: boolean
        - name: offset
          in: query
          description: The offset to start at
          required: false
          schema:
            type: integer
            format: int32
            minimum: 0
            default: 0
        - name: limit
          in: query
          description: The number of items to return
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    "$ref": "#/components/schemas/Pagination"
                  terms:
                    type: array
                    items:
                      "$ref": "#/components/schemas/CreatedConsentTerm"
              example:
                pagination:
                  offset: 0
                  limit: 20
                  count: 2
                terms:
                  - id: "550e8400-e29b-41d4-a716-446655440000"
                    name: "Teal Data Sharing Agreement"
                    consent_text: "I agree to share my payroll data with the lender for income verification."
                    consent_version: 1
                    consent_category: "recurring"
                    is_active: true
                    is_system_term: true
                    created_at: "2024-01-15T00:00:00.000Z"
                  - id: "7f3b8c2a-1d4e-5f6g-7h8i-9j0k1l2m3n4o"
                    name: "Custom Terms v2"
                    consent_text: "Custom consent text for our lending product."
                    consent_version: 2
                    consent_category: "one_time"
                    is_active: true
                    is_system_term: false
                    created_at: "2024-06-01T00:00:00.000Z"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
  "/consents/terms/{term_id}":
    description: Retrieve a specific consent term by ID.
    get:
      summary: Returns a consent term.
      parameters:
        - in: path
          name: term_id
          schema:
            type: string
            format: uuid
          required: true
          description: ID of the consent term to retrieve
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreatedConsentTerm"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
        "404":
          "$ref": "#/components/responses/ResourceNotFound"
  "/consents/terms/latest":
    description: Get the latest active consent term for a user based on their recurring check configuration.
    get:
      summary: Returns the latest active consent term for a user.
      parameters:
        - in: query
          name: user_id
          schema:
            type: string
            format: uuid
          required: true
          description: ID of the user to get the latest term for
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreatedConsentTerm"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
        "404":
          "$ref": "#/components/responses/ResourceNotFound"
  "/consents":
    description: User consent records track when users accept consent terms, including acceptance metadata for audit purposes.
    post:
      summary: Records a user accepting a consent term.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ConsentAcceptance"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreatedConsent"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
        "404":
          description: User or term not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/NotFound"
    get:
      summary: Returns all consent records for a user.
      parameters:
        - in: query
          name: user_id
          schema:
            type: string
            format: uuid
          required: true
          description: ID of the user to get consents for
        - name: status
          in: query
          description: Filter by consent status
          required: false
          schema:
            "$ref": "#/components/schemas/ConsentStatus"
        - name: term_id
          in: query
          description: Filter by consent term ID
          required: false
          schema:
            type: string
            format: uuid
        - name: offset
          in: query
          description: The offset to start at
          required: false
          schema:
            type: integer
            format: int32
            minimum: 0
            default: 0
        - name: limit
          in: query
          description: The number of items to return
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    "$ref": "#/components/schemas/Pagination"
                  consents:
                    type: array
                    items:
                      "$ref": "#/components/schemas/CreatedConsent"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
  "/consents/{consent_id}/revoke":
    description: Revoke a consent record. The record is preserved for audit purposes.
    put:
      summary: Revokes a consent.
      parameters:
        - in: path
          name: consent_id
          schema:
            type: string
            format: uuid
          required: true
          description: ID of the consent to revoke
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreatedConsent"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
        "404":
          "$ref": "#/components/responses/ResourceNotFound"
  "/providers":
    description: Returns the list of available payroll providers and their metadata
    get:
      summary: List all available providers
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ProvidersResponse"
        "401":
          "$ref": "#/components/responses/UnauthorizedApiKey"
components:
  responses:
    UnauthorizedApiKey:
      description: Unauthorized if the X-API-KEY is not provided or is wrong
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Unauthorized"
    BadRequest:
      description: Bad request if one of the required parameters is missing
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    ConflictedResource:
      description: Conflicted resource when creating if that resource already exists
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Conflict"
    UnauthorizedBearer:
      description: Unauthorized if the X-API-KEY is not provided or is wrong
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/UnauthorizedBarer"
    ResourceNotFound:
      description: Resource not found
      content:
        applcation/json:
          schema:
            "$ref": "#/components/schemas/NotFound"
  parameters:
    XConsentId:
      name: x-consent-id
      in: header
      required: false
      description: Optional consent ID to associate with this request. If not provided, the system will attempt to resolve a valid consent for the user automatically.
      schema:
        type: string
        format: uuid
        example: "7f3b8c2a-1d4e-5f6g-7h8i-9j0k1l2m3n4o"
  schemas:
    ProvidersResponse:
      type: object
      required: [providers, parent_provider_meta, employers]
      properties:
        providers:
          type: array
          description: List of available payroll providers
          items:
            "$ref": "#/components/schemas/Provider"
        parent_provider_meta:
          type: array
          description: List of parent provider metadata
          items:
            "$ref": "#/components/schemas/ParentProviderMeta"
        employers:
          type: array
          description: List of employers and their associated providers
          items:
            "$ref": "#/components/schemas/Employer"
    Provider:
      type: object
      required: [id, name, url, logo_url, is_oauth2, is_scraper]
      properties:
        id:
          type: string
          description: Unique identifier for the provider
          example: dayforce
        name:
          type: string
          description: Display name of the provider
          example: Dayforce
        url:
          type: string
          format: uri
          description: Login URL for the provider
          example: https://www.dayforcehcm.com/mydayforce/login.aspx
        reset_url:
          type: string
          format: uri
          description: Password reset URL for the provider
          example: https://costa.dayforcehcm.com/
        logo_url:
          type: string
          format: uri
          description: URL to the provider's logo
          example: https://logourl.com/dayforce.png
        parent:
          type: string
          nullable: true
          description: ID of the parent provider, if this is a child provider
          example: null
        is_oauth2:
          type: boolean
          description: Whether the provider uses OAuth2 for authentication
          example: false
        is_scraper:
          type: boolean
          description: Whether the provider uses scraping for data retrieval
          example: true
        max_login_attempts:
          type: integer
          description: Maximum number of login attempts allowed
          example: 3
        extra_login_params:
          type: array
          description: Additional login parameters required by the provider
          items:
            "$ref": "#/components/schemas/ExtraLoginParam"
    ExtraLoginParam:
      type: object
      required: [key, display_name, validation]
      properties:
        key:
          type: string
          description: Parameter key used in the API
          example: company_name
        display_name:
          type: string
          description: Human-readable name for the parameter
          example: Company Name
        validation:
          "$ref": "#/components/schemas/ExtraLoginParamValidation"
    ExtraLoginParamValidation:
      type: object
      required: [required, type]
      properties:
        required:
          type: boolean
          description: Whether the parameter is required
          example: true
        type:
          type: string
          description: The validation type for the parameter
          example: Text, Date, Number
        date_format:
          type: string
          description: Format of date
          example: dd/MM/yyyy
        min_length:
          type: integer
          description: Minimum character length of the parameter
          example: 3
        max_length:
          type: integer
          description: Maximum character length of the parameter
          example: 10
    ParentProviderMeta:
      type: object
      required: [id, name, logo_url]
      properties:
        id:
          type: string
          description: Unique identifier for the parent provider
          example: adp-parent
        name:
          type: string
          description: Display name of the parent provider
          example: ADP
        logo_url:
          type: string
          format: uri
          description: URL to the parent provider's logo
          example: https://logo.net/logos/adp.png
    Employer:
      type: object
      required: [id, name, url, logo_url, providers]
      properties:
        id:
          type: string
          description: Unique identifier for the employer
          example: teal
        name:
          type: string
          description: Display name of the employer
          example: Teal
        url:
          type: string
          description: URL for the employer
          example: ""
        logo_url:
          type: string
          format: uri
          description: URL to the employer's logo
          example: https://d1wfx42f6qh83.cloudfront.net/logos/teal_0d28113814a9.png
        providers:
          type: array
          description: List of provider IDs associated with this employer
          items:
            type: string
          example: ["shape"]
    ApiKey:
      type: object
      required: [id, name, createdAt]
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the API key
          example: "550e8400-e29b-41d4-a716-446655440000"
        name:
          type: string
          description: Human-readable name for the API key
          example: "Backend service key"
        secret:
          type: string
          nullable: true
          description: The API key secret. Only returned when creating a key, null for list operations.
          example: null
        createdAt:
          type: string
          format: date-time
          description: When the API key was created
          example: "2019-05-17T00:00:00.000Z"
    ApiKeyWithSecret:
      type: object
      required: [id, name, secret, createdAt]
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the API key
          example: "550e8400-e29b-41d4-a716-446655440000"
        name:
          type: string
          description: Human-readable name for the API key
          example: "Backend service key"
        secret:
          type: string
          description: The API key secret. Only shown once at creation time.
          example: "a1b2c3d4e5f6g7h8i9j0"
        createdAt:
          type: string
          format: date-time
          description: When the API key was created
          example: "2019-05-17T00:00:00.000Z"
    ApiKeyCreateRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          description: Human-readable name for the API key
          example: "Backend service key"
    Date:
      type: string
      format: date-time
      example: 2019-05-17T00:00:00.000Z
    ConsentCategory:
      type: string
      description: The category of consent
      enum: [one_time, recurring]
      example: one_time
    ConsentStatus:
      type: string
      description: The status of a consent record
      enum: [active, revoked]
      example: active
    ConsentTerm:
      type: object
      required: [name, consent_text, consent_category]
      properties:
        name:
          type: string
          description: Human-readable name for the consent term
          example: "Data Sharing Agreement"
        consent_text:
          type: string
          description: The legal consent text that users will accept
          example: "I agree to share my payroll data with the lender for the purpose of income verification."
        consent_category:
          "$ref": "#/components/schemas/ConsentCategory"
        deactivate_previous:
          type: boolean
          description: If true, deactivates any existing active term for the same category. Defaults to false.
          default: false
          example: true
          writeOnly: true
    CreatedConsentTerm:
      allOf:
        - required: [id, created_at, is_active, is_system_term, consent_version]
          properties:
            id:
              type: string
              format: uuid
              description: Unique identifier for the consent term
              example: "550e8400-e29b-41d4-a716-446655440000"
            is_active:
              type: boolean
              description: Whether this consent term is currently active and can be accepted
              default: true
              example: true
            is_system_term:
              type: boolean
              description: True for Teal's default terms, false for client-created terms
              readOnly: true
              example: false
            consent_version:
              type: integer
              format: int32
              description: Auto-incremented version number for the consent term
              readOnly: true
              example: 1
            created_at:
              "$ref": "#/components/schemas/Date"
              description: When the consent term was created
        - "$ref": "#/components/schemas/ConsentTerm"
    ConsentAcceptance:
      type: object
      required: [user_id, user_agent]
      properties:
        user_id:
          type: string
          format: uuid
          description: The ID of the user accepting the consent
          example: "95a0e70b-fe02-4f47-aef9-2efff279df71"
        term_id:
          type: string
          format: uuid
          description: The ID of the consent term being accepted. If not provided, auto-resolves to the latest active term based on user's recurring check configuration.
          example: "550e8400-e29b-41d4-a716-446655440000"
        user_agent:
          type: string
          description: User agent string of the browser or application
          example: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
        ip_address:
          type: string
          description: Optional IP address of the user. If not provided, captured from request headers. Use when recording consent via server-to-server calls.
          example: "192.168.1.1"
        fingerprint:
          type: string
          description: Optional device or browser fingerprint for additional verification
          example: "a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6"
    CreatedConsent:
      allOf:
        - required: [id, status, accepted_at, created_at, ip_address, is_valid]
          properties:
            id:
              type: string
              format: uuid
              description: Unique identifier for the consent record
              example: "7f3b8c2a-1d4e-5f6g-7h8i-9j0k1l2m3n4o"
            status:
              "$ref": "#/components/schemas/ConsentStatus"
            ip_address:
              type: string
              description: IP address of the user at time of acceptance (captured from request headers or provided in request)
              example: "192.168.1.1"
            is_valid:
              type: boolean
              description: Whether this consent is currently valid. True when status is active AND the associated term is active.
              example: true
            accepted_at:
              "$ref": "#/components/schemas/Date"
              description: Server timestamp when the consent was accepted
            revoked_at:
              "$ref": "#/components/schemas/Date"
              description: Server timestamp when the consent was revoked
              nullable: true
            created_at:
              "$ref": "#/components/schemas/Date"
              description: When the consent record was created
        - "$ref": "#/components/schemas/ConsentAcceptance"
    FraudRisk:
      type: string
      description: The fraud risk level assessment. Fraud risk will be present if the payroll data is coming from a payslip source
      enum: [Low, Medium, High]
      example: Low
    PaginationWithOrderedBy:
      type: object
      allOf:
        - "$ref": "#/components/schemas/Pagination"
      required: [offset, limit, count, ordered_by]
      properties:
        ordered_by:
          type: string
          example: created_at
    Pagination:
      type: object
      required: [offset, limit, count]
      properties:
        offset:
          description: The offset to start at - zero based
          type: integer
          format: int32
          minimum: 1
          default: 0
          example: 75
        limit:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 20
          example: 25
        count:
          type: integer
          format: int32
          example: 14
          minimum: 0
        total_count:
          type: integer
          format: int32
          example: 89
    User:
      required: [name, email]
      type: object
      properties:
        name:
          description: The full name of the user. It doesn't have to be unique for the client.
          type: string
          example: John Smith
        email:
          description: The email of the user. The field does not have to be a real email address. It can be the user's identifier in your system.
          type: string
          format: email
          example: john.smith@company.com
        recurring_checks_enabled:
          description: Determines if recurring checks are enabled for this user. Overrides the same setting if present in client level configuration.
          type: boolean
        recurring_check_frequency:
          description: Frequency of the recurring check for this user. Overrides the same setting if present in client level configuration. Available frequencies in production are [WEEKLY, DAILY]. Sandbox allows HOURLY frequency in addition.
          type: string
          example: WEEKLY
        recurring_check_end_date:
          description: End date of the recurring check schedule. Overrides the same setting if present in client level configuration.
          "$ref": "#/components/schemas/Date"
        payroll_period_months:
          description: Lookback period of the payroll to search on account creation. Overrides the same setting if present in client level configuration.
          type: integer
          format: int32
    CreatedUser:
      allOf:
        - required: [user_id, created_at]
          properties:
            user_id:
              type: string
              format: uuid
              description: Unique identifier for user
            created_at:
              "$ref": "#/components/schemas/Date"
              description: Creation time in UTC of the user
        - "$ref": "#/components/schemas/User"
    UserToken:
      type: object
      required: [token, webapp_link, created_at]
      properties:
        token:
          type: string
          description: The token to be used in subsequent requests
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiOTVhMGU3MGItZmUwMi00ZjQ3LWFlZjktMmVmZmYyNzlkZjcxIiwiaWF0IjoxNTE2MjM5MDIyfQ.4S5J
        webapp_link:
          type: string
          description: URL of the teal webapp with short version of token. Ignore if not utilising webapp.
          example: https://api.sandbox.goteal.co/r/ZwgQkNEMZ4QDkQ
        created_at:
          "$ref": "#/components/schemas/Date"
    ClientConfiguration:
      type: object
      properties:
        payslip_upload_enabled:
          type: boolean
          description: Determines if payslip upload via documents is allowed as a fallback if there is not connection to payroll providers
          example: true
        payroll_period_months:
          type: integer
          format: int32
          description: Lookback period of the payroll to search on account creation
          example: 24
        client_logo:
          type: string
          description: Client logo asset or URL
          example: image.png
        client_callback_url:
          type: string
          description: Callback URL for client application. This will be redirected to once the user completes their journey on Teal's platform
          example: https://app.client.com/callback
        recurring_checks_enabled:
          type: boolean
          description: Determines if recurring checks are enabled client-wide
          example: true
        recurring_check_frequency:
          type: string
          description: Frequency of the recurring check for the client. Available frequencies in production are [WEEKLY, MONTHLY]. Sandbox allows HOURLY frequency in addition.
          example: WEEKLY
        recurring_check_end_date:
          "$ref": "#/components/schemas/Date"
          description: End date of the recurring check schedule client-wide
    Accounts:
      type: object
      required: [payroll_provider]
      properties:
        payroll_provider:
          type: string
          description: The payroll provider to use
          example: quickbooks
        user_name:
          type: string
          description: The login of the user
          example: john.smith@company.com
        password:
          type: string
          description: The password of the user
          example: very-secret-password
        extra_login_params:
          type: object
          description: |
            Optional extra login parameters required by some providers.
            Dayforce connections require `extra_login_params.company_name`.
          additionalProperties:
            type: string
          example:
            company_name: "ACME Corp"
    AccountsResult:
      type: object
      required: [payroll_provider, user_name, created_at, account_id]
      properties:
        account_id:
          type: string
          description: The id of the account
          example: 95a0e70b-fe02-4f47-aef9-2efff279df71
        payroll_provider:
          type: string
          description: The payroll provider to use
          example: quickbooks
        user_name:
          type: string
          description: The login of the user
          example: john.smith@company.com
        status:
          type: string
          description: Status of account
          example: PENDING
        created_at:
          "$ref": "#/components/schemas/Date"
        mfa_enabled:
          type: boolean
          description: Is mfa enabled for this account
        latest_pay_date:
          description: The latest pay date of the payroll under this account
          "$ref": "#/components/schemas/Date"
    RecurringAccountsResult:
      type: object
      required: [payroll_provider, user_name, created_at, account_id, mfa_enabled]
      properties:
        account_id:
          type: string
          description: The id of the account
          example: 95a0e70b-fe02-4f47-aef9-2efff279df71
        payroll_provider:
          type: string
          description: The payroll provider to use
          example: quickbooks
        user_name:
          type: string
          description: The login of the user
          example: john.smith@company.com
        created_at:
          "$ref": "#/components/schemas/Date"
        mfa_enabled:
          type: boolean
          description: Is mfa enabled for this account
        latest_pay_date:
          description: The latest pay date of the payroll under this account
          "$ref": "#/components/schemas/Date"
        next_recurring_check:
          description: Date of the next recurring check for this account
          "$ref": "#/components/schemas/Date"
        recurring_check_end_date:
          description: End date of the recurring schedule for this account
          "$ref": "#/components/schemas/Date"
        recurring_check_frequency:
          description: Frequency of the recurring check for this account. Available frequencies [WEEKLY, MONTHLY]
          type: string
          example: WEEKLY
        employee_name:
          description: Employee name for which this account is linked to
          type: string
          example: Amazon
    MfaMethod:
      type: object
      discriminator:
        propertyName: type
        mapping:
          Code: "#/components/schemas/CodeMfa"
          Date: "#/components/schemas/DateMfa"
          PasswordWithPositions: "#/components/schemas/PasswordWithPositions"
      oneOf:
        - "$ref": "#/components/schemas/CodeMfa"
        - "$ref": "#/components/schemas/DateMfa"
        - "$ref": "#/components/schemas/PasswordWithPositions"
    CodeMfa:
      type: object
      required:
        - type
        - source
      properties:
        type:
          type: string
          enum: [ Code ]
        source:
          type: string
          enum: [ SMS, EMAIL, AUTHENTICATOR_APP ]
      example:
        type: Code
        source: AUTHENTICATOR_APP
    DateMfa:
      type: object
      required:
        - type
        - format
        - message
      properties:
        type:
          type: string
          enum: [ Date ]
        format:
          type: string
          example: "yyyy-mm-dd"
        message:
          type: string
          example: "Date of birth"
      example:
        type: Date
        format: "yyyy-mm-dd"
        message: "Date of birth"
    PasswordWithPositions:
      type: object
      required:
        - type
        - positions
        - message
      properties:
        type:
          type: string
          enum: [ PasswordWithPositions ]
        positions:
          type: array
          items:
            type: integer
          example: [ 1, 2, 3 ]
        message:
          type: string
          example: "Memorable word"
      example:
        type: PasswordWithPositions
        positions: [ 1, 2, 3 ]
        message: "Memorable word"
    Entry:
      type: object
      properties:
        account_id:
          type: string
          format: uuid
          description: The id of the account
          example: 95a0e70b-fe02-4f47-aef9-2efff279df71
        entry_id:
          type: string
          format: uuid
          description: The id of the entry
          example: 95a0e70b-fe02-4f47-aef9-2efff279df71
        consent_id:
          type: string
          format: uuid
          nullable: true
          description: The id of the consent that authorized this data retrieval
          example: 7f3b8c2a-1d4e-5f6g-7h8i-9j0k1l2m3n4o
        created_at:
          "$ref": "#/components/schemas/Date"
    DocumentResponse:
      type: object
      required:
        ["document_id", "file_name", "type", "upload_time", "file_contents"]
      properties:
        document_id:
          type: string
          format: uuid
          description: A unique document identifier
          example: 95a0e70b-fe02-4f47-aef9-2efff279df71
        file_name:
          type: string
          description: Name of the file
          example: payslip1.pdf
        document_external_id:
          type: string
          description: A string coming from the parameters of the
            uploaded payslip1.pdf either the form field name
            or `external_document_id` header for the file part.
            It might not be unique and depends
            on what's passed when uploading.
          example: payslip123456
        type:
          type: string
          description: The type of document
          example: "Payslip"
        upload_time:
          "$ref": "#/components/schemas/Date"
    EntriesPayslipsPresignRequest:
      type: object
      required: [files]
      properties:
        files:
          type: array
          description: Payslip files that require presigned upload URLs
          minItems: 1
          items:
            "$ref": "#/components/schemas/EntriesPayslipsPresignRequestFile"
    EntriesPayslipsPresignRequestFile:
      type: object
      required: [file_name]
      properties:
        file_name:
          type: string
          description: File name including extension. Must be a PDF.
          example: payslip1.pdf
        external_id:
          type: string
          description: Optional identifier echoed back in the presign response.
          example: ext-payslip-2024-05
    EntriesPayslipsPresignResponse:
      type: object
      required: [presigned_urls]
      properties:
        presigned_urls:
          type: array
          description: Generated URLs and metadata for uploading the requested files.
          items:
            "$ref": "#/components/schemas/EntriesPayslipsPresignResponseFile"
    EntriesPayslipsPresignResponseFile:
      type: object
      required: [file_name, presigned_url, path]
      properties:
        file_name:
          type: string
          description: The requested file name.
          example: payslip1.pdf
        external_id:
          type: string
          description: Optional identifier provided in the presign request.
          example: ext-payslip-2024-05
        presigned_url:
          type: string
          format: uri
          description: The URL to upload the file content to via HTTP PUT.
          example: https://s3.amazonaws.com/bucket/presigned-upload-key?signature=abc123
        path:
          type: string
          description: The storage path that must be echoed when submitting the payslips.
          example: client/acct123/users/user456/payslip1.pdf
    EntriesPayslipsJsonRequestFileRequest:
      type: object
      required: [files]
      properties:
        files:
          type: array
          minItems: 1
          items:
            "$ref": "#/components/schemas/EntriesPayslipsJsonRequestFile"
    EntriesPayslipsJsonRequestFile:
      type: object
      required: [path]
      properties:
        path:
          type: string
          description: Storage path returned by the presign endpoint.
          example: client/acct123/users/user456/payslip1.pdf
        external_document_id:
          type: string
          description: Optional identifier shown in payroll submissions when present.
          example: ext-payslip-2024-05
    PayrollData:
      type: object
      required: [account_id, entry_id, pagination, payroll_submissions]
      properties:
        account_id:
          type: string
          format: uuid
          description: The id of the account
          example: 95a0e70b-fe02-4f47-aef9-2efff279df71
        entry_id:
          type: string
          format: uuid
          description: The id of the entry
        consent_id:
          type: string
          format: uuid
          nullable: true
          description: The id of the consent that authorized this data retrieval
          example: 7f3b8c2a-1d4e-5f6g-7h8i-9j0k1l2m3n4o
        payroll_submissions:
          type: array
          items:
            "$ref": "#/components/schemas/PayrollSubmission"
    Webhook:
      type: object
      required: [name, events, url]
      properties:
        name:
          type: string
          description: A unique name of the webhook
          example: user-payroll-submitted
        events:
          type: array
          items:
            type: string
          example: ["user-payroll-submitted", "user-payroll-created"]
        url:
          type: string
          format: url
          example: https://webhooks.company.com
        signing_secret:
          type: string
          description: A secret to sign the body of the webhook as described at "https://docs.goteal.co"
          writeOnly: true # Not included in response objects
          example: very-secret
        encryption_key:
          type: string
          description: A randomly generated 32-byte key, encoded in Base64, used to encrypt messages.
            This key is necessary for encryption but is not retrievable after being set.
          writeOnly: true
          example: St/73LZ1xHkwX5TanL7V+YAVczn4acozPf3cFySKQXI=
        config:
          type: object
          description: Configuration properties of the webhook
          writeOnly: true
          properties:
            include_payload:
              type: boolean
              description: Whether to include or not the payload of the event in the webhook
              example: true
    CreatedWebhook:
      allOf:
        - required: [webhook_id]
          properties:
            webhook_id:
              type: string
              description: The id of the webhook
              example: 95a0e70b-fe02-4f47-aef9-2efff279df71
        - "$ref": "#/components/schemas/Webhook"
        - required: [created_at]
          properties:
            created_at:
              "$ref": "#/components/schemas/Date"
    Member:
      type: object
      required: [email, role, status, mfa_status]
      properties:
        email:
          type: string
          format: email
          example: john.smith@goteal.co
        role:
          type: string
          description: The Role of the Member
          items:
            type: string
          example: "Owner"
        name:
          type: string
          description: Names of the Member
          example: John Smith
        status:
          type: string
          description: the status of the Member
          enum:
            [
              "unconfirmed",
              "confirmed",
              "archived",
              "compromised",
              "unknown",
              "reset_required",
              "force_change_password",
              "external_provider",
            ]
          readOnly: true
          example: "unconfirmed"
        mfa_status:
          type: string
          description: the status of the Member
          enum: ["sms", "email", "disabled"]
          readOnly: true
          example: "sms"
    InviteMemberRequest:
      type: object
      required: [email, role]
      properties:
        email:
          type: string
          format: email
          example: john.smith@goteal.co
        role:
          type: string
          enum: [FullMember]
          description: The Role of the Member
          items:
            type: string
          example: FullMember
    Error:
      required:
        - errors
      type: object
      properties:
        errors:
          type: array
          items:
            type: string
          description: An array of messages describing the errors
          example: ["The request is missing the required field `name`"]
    MemberSignInRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
          description: The username of the member
          example: john.doe@example.com
        password:
          type: string
          description: The password of the member
          format: password
          example: mySecurePassword123
    MemberSignInResponse:
      type: object
      required:
        - jwt
        - member
      properties:
        jwt:
          type: string
          description: JSON Web Token for authentication
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
        member:
          $ref: '#/components/schemas/MemberResponse'
    MemberResponse:
      type: object
      required:
        - id
        - email
        - mfa_status
      properties:
        id:
          type: string
          description: Unique identifier for the member
          example: "123e4567-e89b-12d3-a456-426614174000"
        email:
          type: string
          format: email
          description: Email address of the member
          example: "john.doe@example.com"
        role:
          type: string
          description: Role of the member
          example: "Admin"
        name:
          type: string
          description: Name of the member
          example: "John Doe"
        status:
          type: string
          description: Status of the member
          example: "active"
        mfa_status:
          type: string
          description: Multi-factor authentication status of the member
          example: "sms"
    Unauthorized:
      type: object
      properties:
        errors:
          type: string
          description: An array of messages describing the errors
          example: ["No X-API-KEY header provided or wrong value"]
    UnauthorizedBarer:
      type: object
      properties:
        errors:
          type: array
          items:
            type: string
          description: An array of messages describing the errors
          example: ["Not Authorization: Bearer <token> provided or wrong value"]
    Conflict:
      type: object
      properties:
        errors:
          type: array
          items:
            type: string
          description: An array of messages describing the conflict errors
          example:
            [
              "This user already exists. [name] and [email] must be a unique combination",
            ]
    NotFound:
      type: object
      properties:
        errors:
          type: string
          description: An array of messages describing the not found errors
          example:
            [
              "The resource with id [8be3bb60-5ab4-4bd2-90e6-3b015691a827] does not exist",
            ]
    PayrollSubmission:
      type: object
      required:
        - id
        - account_id
        - entry_id
        - created_at
        - identity_information
        - employment_information
        - income_information
      properties:
        id:
          type: string
          format: uuid
          example: 95a0e70b-fe02-4f47-aef9-2efff279df71
        account_id:
          type: string
          format: uuid
          description: The id of the account
          example: 674744df-9626-47ef-ae2b-4a491be136b5
        entry_id:
          type: string
          format: uuid
          description: The id of the entry
          example: be770ba4-1362-46cd-8c1c-2330ce3a8b69
        created_at:
          "$ref": "#/components/schemas/Date"
          description: The date the payroll was submitted
          example: 2019-05-17T00:00:00.000Z
        document_id:
          type: string
          nullable: true
          format: uuid
          description: The id of the document
          example: 95a0e70b-fe02-4f47-aef9-2efff279df71
        document_external_id:
          type: string
          nullable: true
          description: A string coming from the parameters of the
            uploaded payslip1.pdf either the form field name
            or `external_document_id` header for the file part.
            It might not be unique and depends
            on what's passed when uploading.
            If the payroll submission doesn't originate from
            a payslip this will be null.
          example: payslip123456
        document_filename:
          type: string
          nullable: true
          description: If the payroll submission originates from a payslip
            this will be the file name of the uploaded payslip.
            It will be duplicate if same file names are uploaded
            If the payroll submission doesn't originate from
            a payslip this will be null.
          example: file1-payslip.pdf
        identity_information:
          $ref: "#/components/schemas/IdentityInformation"
        employment_information:
          $ref: "#/components/schemas/EmploymentInformation"
        income_information:
          $ref: "#/components/schemas/IncomeInformation"
        fraud_risk:
          "$ref": "#/components/schemas/FraudRisk"
          nullable: true
    IdentityInformation:
      type: object
      properties:
        name:
          type: string
          description: The full name of the user
          example: John Smith
        date_of_birth:
          "$ref": "#/components/schemas/Date"
        address:
          $ref: "#/components/schemas/Address"
        email:
          type: string
          description: The email of the user
          format: email
          example: john.smith@company.com
        phone:
          type: string
          description: The phone number of the user
          example: +447123456789
        NI_number:
          type: string
          description: The national insurance number of the user
          example: AB123456C
    Address:
      type: object
      properties:
        street:
          type: string
          description: The street of the address
          example: 123 Main Street
        county:
          type: string
          description: The county of the address
          example: Greater London
        city:
          type: string
          description: The city of the address
          example: London
        post_code:
          type: string
          description: The post code of the address
          example: SW1A 1AA
        country:
          type: string
          description: The country of the address
          example: United Kingdom
    EmploymentInformation:
      type: object
      properties:
        employer_name:
          type: string
          description: The name of the employer
          example: Acme Ltd
        role:
          type: string
          description: The role of the user
          example: Software Engineer
        type:
          type: string
          description: The type of employment
          example: Full-time
        status:
          type: string
          description: >
            The status of the employment. Status `active` will be used when the user is employed in the company, 
            alternatively `inactive` will be used when the user is not employed in the company anymore.
          enum:
            - active
            - inactive
          example: active
        start_date:
          "$ref": "#/components/schemas/Date"
        leave_date:
          "$ref": "#/components/schemas/Date"
          nullable: true
    IncomeInformation:
      type: object
      properties:
        pay_date:
          "$ref": "#/components/schemas/Date"
          type: string
          description: The date the payroll was submitted
          example: 2023-05-27
        pay_interval_start:
          "$ref": "#/components/schemas/Date"
          type: string
          description: The start date of the pay interval
          example: 2023-05-01
        pay_interval_end:
          "$ref": "#/components/schemas/Date"
          type: string
          description: The end date of the pay interval
          example: 2023-05-31
        pay_frequency:
          type: string
          description: The frequency of the pay
          example: Monthly
        earnings:
          $ref: "#/components/schemas/Earnings"
        deductions:
          $ref: "#/components/schemas/Deductions"
    Earnings:
      type: object
      properties:
        gross_pay:
          type: number
          description: The gross pay
          example: 3500
        net_pay:
          type: number
          description: The net pay
          example: 2500
        base_salary:
          type: number
          description: The base salary
          example: 3000
        bonus:
          type: number
          description: The bonus
          example: 500
    Deductions:
      type: object
      properties:
        income_tax:
          type: number
          description: The income tax
          example: 500
        employee_ni:
          type: number
          description: The employee national insurance
          example: 200
        employee_pension:
          type: number
          description: The employee pension
          example: 300
        total_deductions:
          type: number
          description: The total deductions
          example: 1000

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
    MemberBearerAuth:
      type: http
      scheme: bearer
      description: Bearer token for authentication. The token should be the one returned by the "/members/signin"
    BearerAuth:
      type: http
      scheme: bearer
      description: Bearer token for authentication. The token should be the one returned by the /user-tokens endpoint.