{
  "openapi": "3.0.0",
  "info": {
    "title": "GoTeal API",
    "version": "1.0.0",
    "description": "API for managing users, accounts, payroll, documents, and webhooks."
  },
  "servers": [
    {
      "url": "https://api.goteal.co/api/v1"
    }
  ],
  "paths": {
    "/users": {
      "post": {
        "summary": "Create a new user",
        "responses": {
          "201": {
            "description": "User created"
          }
        }
      },
      "get": {
        "summary": "List all users",
        "responses": {
          "200": {
            "description": "A list of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "summary": "Retrieve a user",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a user",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User updated"
          }
        }
      },
      "delete": {
        "summary": "Delete a user",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "User deleted"
          }
        }
      }
    },
    "/user-tokens": {
      "post": {
        "summary": "Generate a user token",
        "responses": {
          "201": {
            "description": "Token created"
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "summary": "List accounts",
        "responses": {
          "200": {
            "description": "List of accounts"
          }
        }
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "summary": "Retrieve an account",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account information"
          }
        }
      },
      "delete": {
        "summary": "Delete an account",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account deleted"
          }
        }
      }
    },
    "/payroll/{userId}": {
      "get": {
        "summary": "Retrieve payroll information",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payroll information"
          }
        }
      }
    },
    "/documents/{userId}": {
      "get": {
        "summary": "Retrieve a specific document",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document details"
          }
        }
      }
    },
    "/webhooks": {
      "post": {
        "summary": "Create a webhook",
        "responses": {
          "201": {
            "description": "Webhook created"
          }
        }
      },
      "get": {
        "summary": "List webhooks",
        "responses": {
          "200": {
            "description": "List of webhooks"
          }
        }
      }
    },
    "/webhooks/{webhookId}": {
      "get": {
        "summary": "Retrieve a webhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook details"
          }
        }
      },
      "put": {
        "summary": "Update a webhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook updated"
          }
        }
      },
      "delete": {
        "summary": "Delete a webhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook deleted"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the user"
          },
          "name": {
            "type": "string",
            "description": "User's name"
          },
          "email": {
            "type": "string",
            "description": "User's email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "
